.stockhomepagename {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: var(--text-color-pure-white);
}
.top-bar-home {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  align-items: center;
  justify-content: flex-start;
}
.xirrgraph-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;

  padding: 5px;
  border: var(--darkish-color-dark-2) solid;
  border-radius: 10px;
  border-width: 1px;
}
.excelicon {
  color: var(--text-color-text-1);
  position: relative;
  width: 22px;
  height: 22px;
}
.exceldownload {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  font-family: "Kumbh Sans";
  color: #1b212d;
  text-align: left;
}
.dashboarddata,
.selectedstockhomepage {
  display: flex;
  align-items: center;
}
.selectedstockhomepage {
  cursor: pointer;
  border: 0;
  padding: 14px 15px;
  background-color: #c8ee44;
  border-radius: 8px;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.dashboarddata {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.stockhomepages {
  position: relative;
  font-weight: 600;
}
.titlehomepage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.thisweek,
.tickerhomepage {
  position: relative;
  font-weight: 600;
}
.tickerhomepage {
  display: inline-block;
  width: 45px;
  flex-shrink: 0;
}
.thisweek {
  flex: 1;
}
.fieldheaders,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fieldheaders {
  width: 225px;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
}
.header {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 12px;
  color: #78778b;
}
.tto {
  position: relative;
  font-weight: 500;
}
.tickerhomepage1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profit1,
.thisweek1,
.xirr1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 69px;
  flex-shrink: 0;
}
.profit1,
.xirr1 {
  width: 88px;
}
.xirr1 {
  width: 85px;
}
.fields {
  margin: 0;
  align-items: flex-start;
  justify-content: space-between;
  text-align: right;
  font-size: 14px;
  color: #fff;
  font-family: "Kumbh Sans";
}
.fields,
.fields1,
.stockhomepage {
  display: flex;
  flex-direction: row;
}
.stockhomepagesell {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  border-radius: 8px;
  background-color: red;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 14px 25px;
  box-sizing: border-box;
}
.stockhomepagebuy {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  border-radius: 8px;
  background-color: green;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 14px 25px;
  box-sizing: border-box;
}
.stockhomepage {
  align-self: stretch;
  border-radius: 8px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 14px 25px;
  box-sizing: border-box;
}
.fields1 {
  width: 130px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}
.stockhomepage1 {
  align-self: stretch;
  border-radius: 8px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 14px 25px;
  box-sizing: border-box;
}
.fields2,
.stockhomepage1,
.stockhomepage2 {
  display: flex;
  flex-direction: row;
}
.fields2 {
  width: 117px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}
.stockhomepage2 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #00ff47;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 14px 25px;
  box-sizing: border-box;
}
.main,
.stockhomepagetransactions {
  align-self: stretch;
  flex-direction: column;
}
.main {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
}
.stockhomepagetransactions {
  flex: 1;
  border-radius: 10px;
  background-color: #1c1a2e;
  border: 1px solid #282541;
  padding: 20px 19px 20px 0;
  gap: 10px;
}
.additionalinfohomepage,
.homepage,
.stockhomepageinfo,
.stockhomepagetransactions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.additionalinfohomepage {
  width: 354px;
  height: 100%;
  flex-direction: column;
  padding: 0 0 39px;
  box-sizing: border-box;
}
.homepage,
.stockhomepageinfo {
  text-align: left;
  color: #fff;
  font-family: "Kumbh Sans";
}
.stockhomepageinfo {
  align-self: stretch;
  flex-direction: row;
  gap: 40px;
  font-size: 18px;
  height: 750px;
}
.homepage {
  width: 100%;
  height: 100%;
  background: var(--darkish-color-dark-bg);
  flex-direction: column;
  padding: 35px 45px;
  box-sizing: border-box;
  gap: 30px;
  color: var(--darkish-color-dark-bg);
  font-size: 25px;
}
@media screen and (max-width: 1660px) {
  .selectedstockhomepage {
    width: auto;
    align-self: unset;
    gap: 30px;
  }
  .dashboarddata {
    flex: unset;
    align-self: stretch;
    padding-bottom: 30px;
  }
  .additionalinfohomepage {
    align-self: stretch;
    width: auto;
  }
  .stockhomepageinfo {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .stockhomepagename {
    display: flex;
  }
  .additionalinfohomepage {
    align-self: stretch;
    width: auto;
  }
}
