.deleteicon {
  width: 13px;
  height: 13px;
  object-fit: cover;
  cursor: pointer;
}
.deleteicon,
.portfolioname {
  position: relative;
}
.portfoliotriggers,
.portfoliotype {
  position: relative;
  color: #fff;
}
.portfoliotype {
  color: red;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.portfolioinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.portfoliocard {
  height: 191px;
  border-radius: 10px;
  background-color: #282541;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 22px 24px 20px;
  box-sizing: border-box;
  gap: 25px;
  text-align: center;
  font-size: 14px;
  color: #929eae;
  font-family: "Kumbh Sans";
}
