.welcomeBack1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.welcomeBackPlease1 {
  position: relative;
  font-size: var(--size-16-size-16-regular-size);
  color: var(--text-color-text-3);
}
.titleSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.signIn1 {
  position: relative;
  font-size: var(--size-16-size-16-regular-size);
  font-weight: 600;
  font-family: var(--extra-font-size-18-semibold);
  color: var(--text-color-text-1);
  text-align: center;
}
.button1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--primary-color);
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.signinbuttons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.signIn {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--text-color-pure-white);
  font-family: var(--extra-font-size-18-semibold);
}

@media screen and (max-width: 960px) {
  .signIn {
    align-self: stretch;
    width: auto;
  }
}
